*.aux
*.log
*.out
*.pdf
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.synctex(busy)
*.toc
*.bcf
*.run.xml
.vscode/settings.json
output.tex
.env
output_*.tex
.DS_Store
moodle_*.xml
__pycache__/
venv/
